<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>F</title>

    <link rel="stylesheet" href="bootstrap.min.css">

</head>
<body>


<div id="app">
    <div class="sticky-top bg-light">
        <div class="container">
            <div class='row border'>
                <div class="dropdown col-3">
                    <button class="btn btn-secondary dropdown-toggle" 
                            type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        {{current_session.session_name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a 
                            class="dropdown-item" href="#" 
                            v-for="session in sessions"
                            v-on:click="current_session=session">
                                {{session.session_name}}
                        </a>
                    </div>
                </div>
                <div>
                    <button 
                        class="btn btn-primary"
                        v-on:click="show_existing_images=!show_existing_images">
                        {{show_existing_images?"existing":"new"}}
                    </button>
                </div>
                <div class="input-group col-6">
                    <input type="text" class="form-control" placeholder="session name" 
                        aria-label="session name" v-model='new_session_name'>
                    <div class="input-group-append">
                        <button class="btn btn-primary"
                                v-on:click="add_session()" >
                            add
                        </button>
                    </div>
                </div>
            </div>
            <div class="row border">
                <div class="col-12">
                    <canvas
                        id="canvas" width="400" height="400"
                        v-on:keydown:enter='remove_selected()'
                        style="background-color:#590b8d">
                    </canvas>
                </div>
                <div class="col-2">
                    <input 
                        type="button"
                        class="btn btn-primary"
                        value="submit"
                        v-on:click=submit_anno()>
                </div>
                <div class="col-2">
                    <input 
                        type="button"
                        class="btn btn-primary"
                        v-bind:value="adding_box==true ? 'adding': 'selecting'"
                        v-on:click='adding_box=!adding_box'>
                </div>
            </div>
            <div class="row">
                <label class="col-3 col-form-label">upload images</label>
                <input type="file"
                        class="form-control-file col-3"
                        accept="image/*"
                        capture="camera"
                        ref="new_file_element"
                        v-on:change="file_to_upload = $event.target.files || $event.dataTransfer.files"
                        multiple webkitdirectory/>
                <button class="col-3 btn btn-primary" v-on:click='submit()'>
                    submit
                </button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;" v-for="(record) in images_this_page">
                <img v-bind:src="record.url" class="card-img-top" alt="..." v-on:click='handleNewImage(record);'>
                <!-- <div class="card-body">
                    <a class="card-text" v-bind:href="record.url">original Image</a>
                </div>
                <a class="btn btn-primary" v-on:click='handleNewImage(record)'>annotate</a> -->
            </div>
        </div>
        <div>
            <button  
                class="btn btn-light"
                v-on:click="current_page=Math.max(current_page-1,1)">
                prev
            </button>
            <a><input type="number" v-model='current_page' > /{{num_page}}</a>
            <button
                class="btn btn-light"
                v-on:click="current_page=Math.min(current_page+1,num_page)">
                next
            </button>
        </div>
    </div>
</div>


<script src="vue.js"></script>
<script src="vue-resource@1.5.1"></script>
<script src="vue-async-computed"></script>
<script src="jquery-3.3.1.slim.min.js"></script>
<script src="popper.min.js"></script>
<script src="popper.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="index.js"></script>
</body>
</html>
